.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
  justify-content: space-between;


  &__img {
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    object-fit: cover;
    background-color: #55473a;
   
  }
  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  &__title-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__btn {
    background-color: #55473a;
    color: aliceblue;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
  }
  &__item {
    width: 20%;
   
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }
}
@media(max-width: 1500px){
  .menu{
    &__item{
       height: 150px;
    }
  }
}
@media(max-width: 1200px){
  .menu{
    &__title-block{
      flex-direction: column;
    }
  }
}
@media(max-width: 500px){
  .menu{
      align-items: center;
      flex-direction: column;
    &__item{
      height: 50%;
    } 
    &__img{
      max-height: 70px;
    }
  }
}
