.header {
  border-bottom: 1px solid #55473a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  &__logo-block {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__logo {
    max-width: 50px;
    object-fit: cover;
  }
  &__title {
    font-size: 1.5rem;
  }
  &__input-wrapper {
    position: relative;
  }
  &__search-adaptive{
    display: none;
  }
  &__input {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #55473a;
    background-color: aliceblue;
    transition: 0.4s;
    &:focus {
      outline: none;
      border-bottom: 1px solid #debb5f;
      transition: 0.4s;
    }
  }
  &__input-active{
    position: absolute;
    bottom: -15px;
    right: -10px;
    padding: 5px;
    width: 80px;
    &:focus{
      outline: none;
    }
  }
  &__circle{
    background-color: #b97c35;
    position: absolute;
    border-radius: 50%;
    right: 20px;
    padding: 2px 4px;
    width: 10px;
    font-size: 0.8rem;
    top: 80px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  &__cart-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
  }
  &__search {
    max-width: 22px;
    position: absolute;
    top: 25%;
    z-index: 10;
    right: 20px;
  }
  &__cart {
    max-width: 40px;
    cursor: pointer;
  }
 
}
@media (max-width: 550px) {
  .header{
    padding: 5px 0;
    &__input {
      display: none;
    }
    &__search-adaptive{
      display: block;
      width: 30px;
      margin-left: 5px;
      cursor: pointer;
    }
    &__cart-wrapper{
      gap: 5px;
    }
    &__title{
      font-size: 1.2rem;
    }
    &__circle{

      top: 60px;
    }
  }
  
}

